#Gmail{
    display: none;
}
#Btn_2{
    display: none;
}

/* Animatoin */
.Show{
    animation: Show 2s both;
}
@keyframes Show {
    0%{
        opacity: 0;
    }
}

/* The Box1 moves to left and Box2 moves to right */
.B1_left{
    animation: B1_left 1.3s both;
}
@keyframes B1_left {
    100%{
        transform: translateX(100%);
    }
    
}
.B2_right{
   animation: B2_right 1.3s both;
}
@keyframes B2_right {
    100%{
        transform: translateX(-100%);
    }
    
}

/* The Box1 moves to right and Box2 moves to left */
.B1_right{
    animation: B1_right 1s both;
}
@keyframes B1_right {
    0%{
        transform: translateX(100%);
    }
    
}
.B2_left{
    animation: B2_left 1s both;
}
@keyframes B2_left {
    0%{
        transform: translateX(-100%);
    }
    
}

/* Contant */
.Contant_right{
    animation: Cright 1.3s both ;
    animation-delay: 0.3s;
}
@keyframes Cright {
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    
}
.Contant_left{
    animation: Cleft 1.3s both ease-out;
    animation-delay: 0.2s;
}
@keyframes Cleft {
    0%{
        opacity: 0;
        transform: translateX(-200px);
        
    }
    
}
